//
//  Base.xcconfig
//  OCS
//
//  Created by Mohamed Amine HAJ MOHAMED on 18/11/2021.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

OCS_APP_NAME = OCS
OCS_APP_VERSION = 1.0
OCS_BUILD_VERSION = 1
OCS_APP_BUNDLE_IDENTIFIER = com.amine.ocs
OCS_APP_ICON = AppIcon
