//
//  Prod.xcconfig
//  OCS
//
//  Created by Mohamed Amine HAJ MOHAMED on 18/11/2021.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Base.xcconfig"

OCS_APP_BUNDLE_IDENTIFIER = com.amine.ocs
OCS_APP_ICON = AppIcon

BASE_URL = https:\/\/api.ocs.fr
